<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css">
        <title>404 Not Found</title>
    </head>
    <body align="center">
        <div align="center">
            <h1>404: Hey! There's nothing here.</h1>
            The page at {{ path }} does not exist!
            <hr />
            <small>Rocket server</small>
        </div>
    </body>
</html>
